{% extends 'base.html' %}
{% load static %}	

{% block title %}Blog - Python Django Series - Web App, Blog, API, VueJS, ReactJS & AngularJS - Home page {% endblock %}

{% block content %}
 
    <header>
        <div class="container">
            <h1>Create Blog</h1>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-12">
            
                <form method="post" enctype="multipart/form-data" class="row g-3">
                    {% csrf_token %}
                    <div class="col-12">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title"  name="title" placeholder="Enter Title">
                    </div>
                    <div class="col-12">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" class="form-control" id="description" name="description" placeholder="Enter Description" rows="5"></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="image" class="form-label">Upload Image</label>
                        <input type="file" name="image" class="form-control" id="image">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit Post</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
        
    {% endblock %}
    
    {% block javascript %} {% endblock %}
    <script>
    
    </script>